umap-learn
visdom
librosa==0.8.1
matplotlib==3.3.0
numpy==1.19.3
scipy==1.7.3
tqdm
sounddevice
SoundFile
Unidecode
inflect
PyQt5==5.15.2
multiprocess
numba
pypinyin==0.44.0
flask
flask_wtf
flask_cors==3.0.10
gevent==21.8.0
flask_restx
tensorboard
streamlit==1.8.0
PyYAML==5.4.1
torch_complex
espnet==202205
PyWavelets==1.3.0
